<ul class="nav">
    <li class="active">
        <a href="<?php echo $this->Url->build('/Xmf/CapturaReporte'); ?>">
            <i class="ti-bar-chart"></i>
            <p>CAPTURA REPORTE</p>
        </a>
    </li>
</ul>
